.wrapper {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;

  :global(.markdown-body) {
    padding: 16px;
    min-height: 100%;
  }
}

@media print {
  .wrapper {
    overflow-y: hidden;
    height: auto;
  }
}
